{% extends "layout.html" %}

{% block page_title %}Non autorisé{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="text-center">
        <h1>401</h1>
        <p>Oups ! On dirait que ton badge n'est pas passé... Tu n'as pas l'autorisation d'accéder à cette page.</p>
        <p>Essaie de <a href="{{ url_for('public.home')}}">te connecter</a> ou de <a href="{{ url_for('public.register') }}">créer un compte</a> pour revenir sur le circuit.</p>
    </div>
</div>
{% endblock %}
