<!DOCTYPE html>
<html class="no-js" lang="fr" data-bs-theme="{{ theme or 'dark' }}">

  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{static_url_for('static', filename='build/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
    
    <title>
      {% block page_title %}Plateforme Robot IUT Lyon 1{% endblock %}
    </title>

    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />

    <!-- Optimisation affichage mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Feuilles de style -->
    <link rel="stylesheet" href="{{ static_url_for('static', filename='build/main_css.bundle.css') }}" />
    {% block css %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block body %}
      {% with form=form %}
        {% include "nav.html" %}
      {% endwith %}

      <header>
        {% block header %}{% endblock %}
      </header>

      <main role="main">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show m-3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
      </main>

      {% include "footer.html" %}
      
      <!-- JavaScript en bas pour un chargement rapide -->
      <script src="{{ static_url_for('static', filename='build/main_js.bundle.js') }}"></script>
      {% block js %}{% endblock %}
    {% endblock %}
  </body>
</html>
